.Features {
  background: #f4f6fc;
}
.FeaturesRow {
  padding: 100px 0px;
}
.FeaturesH5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  text-align: center;

  /* Dark blue */

  color: #282938;
}
.FeaturesH2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  margin-bottom: 20px;
  text-align: center;

  /* Dark blue */

  color: #282938;
}
.FeaturesColDiv {
  height: 280px;
  margin-bottom: 18px;
  padding: 30px;
  background: #ffffff;
}
.FeaturesColDivH3 {
  margin: 10px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  /* Dark blue */

  color: #282938;
}
.FeaturesColDivP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  /* Dark blue */

  color: #282938;

  opacity: 0.7;
}
@media (max-width: 1200px) and (min-width: 992px) {
  .FeaturesColDivH3 {
    font-size: 20px;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .FeaturesColDiv {
    height: 216px;
  }
  .FeaturesColDivH3 {
    font-size: 12px;
  }
  .FeaturesColDivP {
    font-size: 10px;
    line-height: 15px;
  }
}
@media (max-width: 767px) and (min-width: 567px) {
  .FeaturesColDiv {
    display: flex;
    flex-direction: column;
  }
  .FeaturesColDivImg {
    align-self: center;
  }
  .FeaturesColDivH3 {
    align-self: center;
  }
}
@media (max-width: 567px) and (min-width: 350px) {
  .FeaturesH2 {
    font-size: 29px;
    line-height: 40px;
  }
  .FeaturesColDiv {
    display: flex;
    flex-direction: column;
  }
  .FeaturesColDivImg {
    align-self: center;
  }
  .FeaturesColDivH3 {
    align-self: center;
  }
}
@media (max-width: 350px) and (min-width: 320px) {
  .FeaturesH2 {
    font-size: 25px;
    line-height: 40px;
  }
  .FeaturesColDiv {
    display: flex;
    flex-direction: column;
  }
  .FeaturesColDivImg {
    align-self: center;
  }
  .FeaturesColDivH3 {
    align-self: center;
  }
}
