.ViewourprojectRow {
  padding: 100px 0px;
}
.ViewourprojectHeadingDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.ViewourprojectHeadingDivH2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  /* Dark blue */

  color: #282938;
}

.ViewourprojectCol1Div {
  position: relative;
}
.ViewourprojectHeadingDivP {
  align-self: center;
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  color: #282938;
}
.ViewourprojectCol1DivHiddenH4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */

  /* White */

  color: #ffffff;
}
.ViewourprojectCol1DivHiddenH6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  /* White */

  color: #ffffff;

  opacity: 0.8;
}

.ViewourprojectCol1DivHiddenH6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  /* White */

  color: #ffffff;

  opacity: 0.8;
}
.ViewourprojectCol1DivHiddenP {
  color: #fcd980;
}
.ViewourprojectCol1DivHidden {
  position: absolute;
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  top: 0%;
  display: none;
  padding: 20% 5% 5% 5%;
}
.ViewourprojectCol1Div:hover .ViewourprojectCol1DivHidden {
  display: block;
  width: 50%;
  height: 100%;
}

.Image_cla {
  width: 100%;
}
.ViewourprojectCol2Div2h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */

  /* White */

  color: #ffffff;
}
.ViewourprojectCol2Div2P {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  /* Yellow */

  color: #fcd980;
}
.ViewourprojectCol2MainDiv1 {
  position: relative;
  margin-bottom: 10px;
}
.ViewourprojectCol2MainDiv2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  opacity: 0;
}
.ViewourprojectCol2MainDiv2:hover {
  opacity: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
}
@media (max-width: 992px) and (min-width: 767px) {
  .ViewourprojectHeadingDivP {
    align-self: center;
    margin-top: 10px;
    font-size: 15px;
  }
  .ViewourprojectCol1DivHiddenH4 {
    font-size: 20px;
    line-height: 27px;
  }
  .ViewourprojectCol2Div2h3 {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (max-width: 767px) and (min-width: 567px) {
  .ViewourprojectHeadingDivH2 {
    font-size: 35px;
  }
  .ViewourprojectHeadingDivP {
    align-self: center;
    margin-top: 10px;
    font-size: 15px;
  }
  .ViewourprojectCol1Div {
    margin-bottom: 10px;
  }
  .ViewourprojectCol2MainDiv1 {
    margin-top: 20px;
  }
}
@media (max-width: 567px) and (min-width: 350px) {
  .ViewourprojectHeadingDivH2 {
    font-size: 20px;
  }
  .ViewourprojectHeadingDivP {
    align-self: center;
    margin-top: 10px;
    font-size: 12px;
  }
  .ViewourprojectCol1Div {
    margin-bottom: 10px;
  }
  .ViewourprojectCol1DivHiddenH4 {
    font-size: 12px;
    line-height: 24px;
  }
  .ViewourprojectCol1DivHiddenH6 {
    font-size: 10px;
    line-height: 19px;
  }
}
@media (max-width: 350px) and (min-width: 320px) {
  .ViewourprojectHeadingDivH2 {
    font-size: 30px;
  }
  .ViewourprojectCol1Div {
    margin-bottom: 10px;
  }
  .ViewourprojectCol1DivHiddenH4 {
    font-size: 10px;
    line-height: 24px;
  }
  .ViewourprojectCol1DivHiddenH6 {
    font-size: 10px;
    line-height: 19px;
  }
}
