.Whatourclinets {
  margin-top: 80px;
  background: #f4f6fc;
}
.WhatourclinetsRow {
  padding: 100px 0px;
}
.WhatourclinetsCol1 {
  padding: 0px 40px 40px 0px;
}
.WhatourclinetsColH2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  /* or 147% */

  /* Dark blue */

  color: #282938;
}
.WhatourclinetsP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  /* Dark blue */

  color: #282938;

  opacity: 0.7;
}
.WhatourclinetsCol2H4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */

  /* Dark blue */

  color: #282938;
}
.WhatourclinetsCol2Div {
  width: 80% !important;
  display: flex !important;
  margin-top: 20px;
}
.WhatourclinetsCol2Div2 {
  margin-left: 15px;
}
.WhatourclinetsCol2DivH5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  /* Dark blue */

  color: #282938;
}
.WhatourclinetsCol2DivH6 {
  margin-top: -15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  /* identical to box height, or 233% */

  /* Dark blue */

  color: #282938;
}

@media (max-width: 992px) and (min-width: 767px) {
}
@media (max-width: 767px) and (min-width: 567px) {
  .WhatourclinetsCol1 {
    padding: 15px;
  }
}
@media (max-width: 567px) and (min-width: 350px) {
  .WhatourclinetsCol1 {
    padding: 15px;
  }
  .WhatourclinetsColH2 {
    font-size: 24px;
    line-height: 43px;
  }
  .WhatourclinetsCol2H4 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 350px) and (min-width: 320px) {
  .WhatourclinetsCol1 {
    padding: 15px;
  }
  .WhatourclinetsColH2 {
    font-size: 24px;
    line-height: 43px;
  }
  .WhatourclinetsCol2H4 {
    font-size: 20px;
    line-height: 30px;
  }
}
